<ul class="list-group no-border-radius">
<% for (userIndex in users) { %>  
	<a class="list-group-item no-border-radius" href=<%= "#profile?" + users[userIndex].userId %>>
		<h5><%= users[userIndex].firstName %> <%= users[userIndex].lastName %></h5>
		<div><%= users[userIndex].sex %></div>
		<div><%= users[userIndex].searchingMessage %></div>
	</a>
<% } %>
</ul>