<h1 style="text-align:left"><%=firstName+" "+lastName %></h1>

<div class="padded" align="left">
  <p><b>Email:</b> <%= email %>
  <br><b>Gender:</b> <%= sex %>
  <br><b>Age:</b> <%= age %>
  <br><b>Height:</b> <%= height+" in" %></p>
</div>

<table class="table">
    <thead>
      <tr>
        <th>Style</th>
        <th>Level</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% var length = styles.length %> 
    	<% for (var i = 0; i < length; i++) { %>  
    		<tr class = 'header shower'  attri=<%="select"+i%>>
      		<td attri=<%="select"+i%>><%= styles[0].name%></td>
      		<td attri=<%="select"+i%>><%= styles[0].level%></td>
      		<td attri=<%="select"+i%>><button type="button" class="btn btn-default">Edit</button></td>
    		</tr>
        <tr style="display:none" class=<%='select'+i%> >
          <td><%="Leader"%></td>  
        </tr>
        <tr style="display:none" class=<%='select'+i%> >
          <%if (styles[0].searching === 1){%>
            <td><%="Looking for partner"%></td>
          <% } else{ %>
            <td><%="Not looking for partner"%></td>
          <% } %>
        </tr>
        <tr style="display:none" class=<%='select'+i%> >
          <td><%="Division: "+styles[0].division%></td>  
        </tr>
        <tr style="display:none" class=<%='select'+i%> >
          <td><%="Hours committed: "+styles[0].hours%></td>  
        </tr>
		<% } %>
    </tbody>
  </table>
<a href="#settings"><button type="button" class="btn btn-default">Add Style</button></a>
<a href="#"><button type="button" class="btn btn-default">Home</button></a>
